table{
    text-align: center;
    background-color: brown;
    border: 1px solid midnightblue;
    border-collapse: collapse;
}
td{
    width: 60px;
    height: 45px;
    border: 1px solid midnightblue;
    color: mistyrose;
    font-size: small;
}
tr:nth-child(1){
    text-align: left;
}
td:nth-child(3n){
    vertical-align: bottom;
}

td:nth-child(3n+1){
    vertical-align: top;
}

tr:nth-child(3){
    text-align: right;
}