html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.square{
    background: rgb(20, 136, 49);
    display: flex;
    width: 160px;
    height: 160px;
    align-items: center;
    justify-content: center;
}

.bg-blue{
    background: rgb(20, 20, 99);
}