table{
    text-align: center;
    background-color: brown;
    border: 1px solid midnightblue;
    border-collapse: collapse;
}
td{
    width: 60px;
    height: 45px;
    border: 1px solid midnightblue;
    color: mistyrose;
    font-size: small;
}

.left{
    text-align: left;
}

.top{
    vertical-align: top;
}

.bottom{
    vertical-align: bottom;
}

.right{
    text-align: right;
}